<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <form>
        <input type="text" name="pseudo" id="connection-pseudo" placeholder="Enter a nickname...">
        <input type="submit" id="connection-submit" value="Play">
    </form>
</body>
<script src="/assets/js/lib/socket.io.js"></script>
<script src="/assets/js/lib/p5.js"></script>
<script src="/assets/js/class/Player.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/socket.js"></script>
</html>